<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Cadastro loja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Endereço</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Cep</ion-label>
      <ion-input type="password"  value="" ></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Referência</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating"  >telefone 1</ion-label>
      <ion-input type="number"  value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">telefone 2</ion-label>
      <ion-input type="number" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Horário Abertura</ion-label>
      <ion-input type=""></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label position="floating">Horário Fechamento</ion-label>
      <ion-input type=""></ion-input>
    </ion-item>
    
    
</ion-card>

<ion-button color="success" expand="block" routerLink="/lista-filial">Cadastrar</ion-button>
</ion-content>
