<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-list>

    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" value=""></ion-input>
    </ion-item>
    
     
  
  </ion-list>
  <ion-button expand="block" color="success" routerLink="/home" size="small">sing In</ion-button> 
  </ion-card>
   
  <ion-button color="light" expand="block" routerLink="/cadastro">New to GitHub? Create an account.</ion-button>

</ion-content>
