<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
      <ion-item>
        <ion-label position="floating">Nome Completo</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" >Senha</ion-label>
        <ion-input type="password"  value="" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"  >Confirmar Senha</ion-label>
        <ion-input type="password"  value="" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CNPJ</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nome da Loja</ion-label>
        <ion-input></ion-input>
      </ion-item>
</ion-card>

<ion-button color="success" expand="block" routerLink="/login">Cadastrar</ion-button>

</ion-content>
