<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Nome Completo</ion-label>
      <ion-input type="text" [(ngModel)]="vendedor.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Senha</ion-label>
      <ion-input type="password" [(ngModel)]="vendedor.senha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"  >Confirmar Senha</ion-label>
      <ion-input type="password" [(ngModel)]="confirmSenha" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="vendedor.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CNPJ</ion-label>
      <ion-input type="text" [(ngModel)]="vendedor.cnpj"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nome da Loja</ion-label>
      <ion-input type="text" [(ngModel)]="vendedor.nomeLoja"></ion-input>
    </ion-item>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="light" href="/login">Voltar</ion-button>
      </ion-col>
      <ion-col>

      </ion-col>
      <ion-col>
        <ion-button color="success" expand="block" (click)="registraCadastro()">
          Cadastrar
        </ion-button> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
