<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="http://45.media.tumblr.com/f5558f0ce78f0c1fb58d9facda98d2ac/tumblr_nztfvzEETo1qzcciuo1_500.gif"></ion-img>
      <ion-card-header>
        <ion-card-title>Bem Vindo!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aqui você vendedor tem a chance de postar seus produtos.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Bem vindo</ion-label>
      </ion-list-header>
      <ion-item href="/cadastroloja">
        <ion-icon slot="start" color="medium" name="add-circle-outline"></ion-icon>
        <ion-label>Cadastro Filial</ion-label>
      </ion-item>
      <ion-item href="/cadastrodoproduto">
        <ion-icon slot="start" color="medium" name="add-circle-outline"></ion-icon>
        <ion-label>Cadastro Produto</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
